<img src="materials/dogThinking.png" alt="Dog think about 1st friend" />

<audio controls="controls">
    <source src="materials/sound/ratVScat.mp3"
            type="audio/mp3" />
    <source src="materials/sound/ratVScat.ogg"
            type="audio/ogg" />
    <a href="materials/sound/ratVScat.mp3">Asking between rat and cat</a>
</audio>